<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>startup</servlet-name>
        <servlet-class>com.randomchoice.lunch.StartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restaurants</servlet-name>
        <servlet-class>com.randomchoice.lunch.ListRestaurantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>startup</servlet-name>
      <url-pattern>/startup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>restaurants</servlet-name>
      <url-pattern>/restaurants</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
</jsp-config>
</web-app>
